__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.db
.sqlite3
*.sqlite3
media
static
.DS_Store
.env
.env.example
.gitignore
README.md
*.md
.idea
.vscode
*.egg-info
dist
build
